.relatoriosImg {
  background: #000 url("../images/working.png");
  width: 100%;
  height: 100vh;
  padding-top: 15px;
}

.relatoriosItem {
  margin-bottom: 30%;
  margin-left: 90%;
  z-index: 9999px;
}

.relatoriosImg h1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: -400px;
}
